<!DOCTYPE html>
<html>
<head>
  <title>Издательства</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <div class="header">
    <h1>Издательства</h1>
  </div>

  <div class="content-table">
    <table class="data-table">
      <thead>
        <tr>
          <th class="norm-thead">Название</th>
          <th class="button-cell"></th>
        </tr>
      </thead>
      <tbody>
        <% @publishers.each do |publisher| %>
          <tr>
            <td class="seagreen-cell"><%= publisher.name %></td>
            <td class="button-cell">
              <%= link_to 'Show', publisher, class: 'small-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="button-container">
      <%= link_to 'Добавить издательство', new_publisher_path, class: 'middle-button' %>
      <%= link_to 'Книги', books_path, class: 'middle-button' %>
      <%= link_to 'Авторы', authors_path, class: 'middle-button' %>
      <%= link_to 'Главная страница', home_index_path, class: 'middle-button' %>
    </div>
  </div>

</body>
</html>