<!DOCTYPE html>
<html>
<head>
  <title>Литература</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <div class="header">
    <h1>Литература</h1>
  </div>

  <div class="content-home">

    <%= link_to books_path, class: 'card' do %>
    <div>
      <%= image_tag asset_path('/images/home1.png'), class: 'card-image' %>
      <h2>Книги</h2>
    </div>
    <% end %>
    <%= link_to authors_path, class: 'card' do %>
    <div>
      <%= image_tag asset_path('/images/home2.png'), class: 'card-image' %>
      <h2>Авторы</h2>
    </div>
    <% end %>
    <%= link_to publishers_path, class: 'card' do %>
    <div>
      <%= image_tag asset_path('/images/home3.png'), class: 'card-image' %>
      <h2>Издательства</h2>
    </div>
    <% end %>

  </div>
</body>
</html>
