<!DOCTYPE html>
<html>
<head>
  <title>Книги</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <div class="header">
    <h1>Книги</h1>
  </div>

  <div class="content-table">
    <table class="data-table">
      <thead>
        <tr>
          <th>Название</th>
          <th>Автор</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td class="seagreen-cell"><%= book.title %></td>
            <td class="seagreen-cell"><%= book.author&.full_name %></td>
            <td class="button-cell">
              <%= link_to 'Show', book, class: 'show-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="button-container">
      <%= link_to 'Добавить книгу', new_book_path, class: 'middle-button' %>
      <%= link_to 'Авторы', authors_path, class: 'middle-button' %>
      <%= link_to 'Издательства', publishers_path, class: 'middle-button' %>
      <%= link_to 'Главная страница', home_index_path, class: 'middle-button' %>
    </div>
  </div>

</body>
</html>



