<!DOCTYPE html>
<html>
<head>
  <title>Новая книга</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <div class="header">
    <h1>Новая книга</h1>
  </div>

  <div class="content-form-flex">
    <div class="content-form">
      <%= form_with(model: @book, local: true) do |form| %>
        <% if @book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label "Название" %>
          <%= form.text_field :title %>
        </div>

        <div class="field">
          <%= form.label :author_id, "Автор" %>
          <%= form.collection_select :author_id, Author.all, :id, :full_name %>
        </div>

        <div class="field">
          <%= form.label :publisher_id, "Издательство" %>
          <%= form.collection_select :publisher_id, Publisher.all, :id, :name %>
        </div>

        <div class="field">
          <%= form.label "Дата публикации" %>
          <%= form.date_field :publication_date %>
        </div>

        <div class="field">
          <%= form.label "Жанр" %>
          <%= form.text_field :genre %>
        </div>

        <div class="actions">
          <%= form.submit 'Создать книгу', class: 'small-button'%>
        </div>
      <% end %>
    </div>
    
    <div class="button-container">
      <%= link_to 'Книги', books_path, class: 'middle-button' %>
      <%= link_to 'Авторы', authors_path, class: 'middle-button' %>
      <%= link_to 'Издательства', publishers_path, class: 'middle-button' %>
      <%= link_to 'Главная страница', home_index_path, class: 'middle-button' %>
    </div>
  </div>

</body>
</html>
